<!DOCTYPE html>
<html>
  <%- include layout/head %>
  <body>
    <h1>Halaman Add Items</h1>

    <form class="" style="margin-top:10px;" action="/items/addItems/ %>" method="POST">
      <input type="text" name="name" placeholder="Masukan Nama Item">
      <input type="text" name="brand" placeholder="Masukan Nama Brand">
      <input type="text" name="codeitem" placeholder="Masukan Code Item">
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
