<!DOCTYPE html>
<html>
  <%- include layout/head %>
  <body>
    <h1>Halaman Add Supplier</h1>

    <form class="" style="margin-top:10px;" action="/suppliers/addSuppliers/ %>" method="POST">
      <input type="text" name="name" placeholder="Masukan Nama Suppliers">
      <input type="text" name="kota" placeholder="Masukan Nama Kota">
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
